/*各个路由内容的样式 写的时候分模块 便于以后优化*/
.activeClass{background-color: #ccc;}

/*左侧侧边栏*/
.sideBar{position: fixed;  width: 186px;  top: 72px;  left: 16px;  border: 1px solid #ccc;  background-color: #fff;}
.sideList{padding-top:50px;}
.slideWrap{border-top: 1px solid #337ab7}
.slideWrap .slideHead{height: 30px;line-height: 30px;background-color: #ccc}
.slideWrap .slideInner{height: 35px;line-height: 35px;}
.slideWrap .slideInner:hover{background-color: purple;opacity: 0.6;color: #fff}




/*右边的主题部分*/
.rightInfos{  background-color: #fff;  border: 1px solid gold;  min-height: 700px;  right: 0;  position: absolute;  top: 68px;  width: calc(100% - 213px);}


/*验证的校验样式*/
input{outline:medium;}/*去除input的边框*/

.input.is-danger, .textarea.is-danger {
  border-color: #ff3860;
}
.help.is-danger {
  color: #ff3860;
}
.sildecollapse{display: none;}